{% load staticfiles %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Hogwarts Registry{% endblock%}</title>

        <link rel="stylesheet" href="{% static 'registry/stylesheets/main.css' %}">
    </head>

    <body class="home-page">
        <h1 class="site-title">Hogwarts Registry</h1>

        <div class="site-body">
            <section class="list houses-list">
                {% for house in object_list %}
                    <a href="{% url 'house-detail' house.pk %}" class="house house--{{ house.name|lower }}"></a>
                {% endfor %}
            </section>

            <a href="{% url 'student-create' %}" class="button add-student-button">Add Student</a>
        </div>
    </body>
</html>
