{% load staticfiles %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Hogwarts Registry - {{ house.name }}{% endblock%}</title>

        <link rel="stylesheet" href="{% static 'registry/stylesheets/main.css' %}">
    </head>

    <body class="house-page">
        <h1 class="site-title">{{ house.name }}</h1>

        <div class="house-stats">
            <p class="stats">
                <span class="label">Head:</span>
                <span class="value">{{ house.head }}</span>
            </p>
            <p class="stats">
                <span class="label">Points:</span>
                <span class="value">{{ house.points }}</span>
            </p>
        </div>

        <form action="{% url 'house-detail' house.pk %}" method="post">
            {% csrf_token %}
            {{ form }}
            <button class="button">Points for {{ house.name }}!</button>
        </form>

        <section class="students">
            <h1>Students</h1>

            <div class="list students-list">
                {% for student in students %}
                    <a href="{% url 'student-detail' student.pk %}" class="student">{{ student.name }}</a>
                {% empty %}
                    <p class="list--empty">No students registered.</p>
                {% endfor %}
            </div>
        </section>
    </body>
</html>
