{% load staticfiles %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Hogwarts Registry - Add a student{% endblock%}</title>

        <link rel="stylesheet" href="{% static 'registry/stylesheets/main.css' %}">
    </head>

    <body class="student-form-page">
        <h1 class="site-title">Hogwarts Registry</h1>

        <form action="{% url 'student-create' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="button">Register Student</button>
        </form>
    </body>
</html>
